@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	margin: 0;
	font-family: 'helvetica';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.wrapper {
	padding-left: 2rem;
	padding-right: 2rem;
}

.button--primary {
	background-color: #003085;
	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
	border-radius: 2rem;
	color: white;
	font-family: 'helvetica';
}

.button--primary:hover {
	background-color: #194175;
}

.home--hero {
	background-image:
		linear-gradient(to bottom, rgba(171, 203, 2280, 0.4), rgba(0, 48, 133, 0.8)),
		url("./assets/img/richard-horvath-cPccYbPrF-A-unsplash.jpg");
}

.home--hero-text {

	@media screen and (max-width: 40rem) {
		padding-left: 0rem !important;
	}
}

.home--hero-text h2{

	@media screen and (max-width: 78rem) {
		max-width: 75%;
	}

	@media screen and (max-width: 48rem) {
		max-width: 100%;
	}

}

.home--hero-arrow {
	content: url("./assets/img/down-arrow-download-svgrepo-com.svg");
	height: 5rem;
	width: 5rem;

	@media screen and (max-width: 48rem) {
		height: 4rem;
		width: 4rem;
	}
}

.home--video video {
	width: 75%;
	height: 75%;
	
	@media screen and (max-width: 48rem) {
		width: 100%;
		height: 100%;
	}
}

.home--hero-ending {
	background-image:
	linear-gradient(to bottom, rgba(171, 203, 2280, 0.4), rgba(0, 48, 133, 0.8)),
	url("./assets/img/richard-horvath-_nWaeTF6qo0-unsplash.jpg");
}